{% extends "blog/base.html" %}
{% block body %}

<link rel="stylesheet" type="text/css" href="/static/mypage.css">

<title>マイページ</title>

<h2>{{ name }}さんのマイページ</h2>

<h3>いいねした投稿</h3>
<div id="liked-posts">
    {% for diary in liked_posts %}
    <div class="table">
        <h3>＠{{ diary.user }}</h3>
        <p>{{ diary.comment }}</p>
        <div class="time">{{ diary.date.strftime("%Y/%m/%d %H:%M") }}</div>
        <form action="/blog/diary/{{ diary.id }}">
            <button type="submit">詳細を見る</button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}